#!/bin/sh
# Mostly stolen from:
# https://github.com/AndrewGuenther/fck-nat/blob/main/service/fck-nat.sh

set -eu

token="$(curl -X PUT -H 'X-aws-ec2-metadata-token-ttl-seconds: 300' http://169.254.169.254/latest/api/token)"
instance_id="$(curl -H "X-aws-ec2-metadata-token: $token" http://169.254.169.254/latest/meta-data/instance-id)"
aws_region="$(curl -H "X-aws-ec2-metadata-token: $token" http://169.254.169.254/latest/meta-data/placement/region)"
outbound_mac="$(curl -H "X-aws-ec2-metadata-token: $token" http://169.254.169.254/latest/meta-data/mac)"
outbound_eni_id="$(curl -H "X-aws-ec2-metadata-token: $token" http://169.254.169.254/latest/meta-data/network/interfaces/macs/$outbound_mac/interface-id)"
nat_interface=$(ip link show dev "$outbound_eni_id" | head -n 1 | awk '{print $2}' | sed s/://g )
eni_id="${eni_id}"
vpc_cidr="${vpc_cidr}"
subnet_gw_addr="${subnet_gw_addr }"

if test -n "$eni_id"; then
    echo "Found eni_id configuration, attaching $eni_id..."

    if ! ip link show dev "$eni_id"; then
        while ! aws ec2 attach-network-interface \
            --region "$aws_region" \
            --instance-id "$instance_id" \
            --device-index 1 \
            --network-interface-id "$eni_id"; do
            echo "Waiting for ENI to attach..."
            sleep 5
        done

        while ! ip link show dev "$eni_id"; do
            echo "Waiting for ENI to come up..."
            sleep 1
        done
    else
        echo "$eni_id already attached, skipping ENI attachment"
    fi
elif test -n "$interface"; then
    echo "Found interface configuration, using $interface"
    nat_interface=$interface
else
    echo "No eni_id or interface configuration found, using default interface $nat_interface"
fi

echo "Enabling ip_forward..."
sysctl -q -w net.ipv4.ip_forward=1

echo "Flushing NAT table..."
iptables -t nat -F

echo "Adding NAT rule..."
iptables -t nat -A POSTROUTING -o "$nat_interface" -j MASQUERADE -m comment --comment "NAT routing rule installed by fck-nat"

inside_interface=$(ip link show dev "$eni_id" | head -n 1 | awk '{print $2}' | sed s/://g )

iptables -A PREROUTING -i $${nat_interface} -t mangle ! -s $${vpc_cidr} -j MARK --set-mark 1
echo 201 nat.in >> /etc/iproute2/rt_tables
ip rule add fwmark 1 table nat.in
ip route add default via $${subnet_gw_addr} dev $${inside_interface} table nat.in
